div#page .adv {
	opacity: 0;
	transition: 1.5s;
}

div#page.adv .adv {
	opacity: 1;
}

.print { display: none; }

div#page {
	width: 756px;
	height: 1134px;
}

div#page div#sysStyle {
	position: absolute;
	top: 0;
	right: 0;
	width: 75px;
	height: 75px;
	z-index: 1;

	perspective: 1000;
	-webkit-perspective: 1000;
}

div#page div#sysStyle img#front, div#page div#sysStyle img#back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transition: 1s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

img#back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

div#page div#sysStyle.flipped #back {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}
div#page div#sysStyle.flipped #front {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

div#nome {
	width: 740px;
	height: 120px;
	padding: 40px 8px 0px 8px;
}

div#nome canvas {
	width: 748px;
	height: 120px;
	margin-top: 25px;
}

div#content {
	width: 756px;
	height: 974px;
}

div#info {
	width: 288px;
	height: 774px;
	padding: 100px 60px 100px 90px;
}

div#info.armor {
	height: 804px;
	padding: 70px 60px 100px 90px;
}

div#info.agon {
	height: 804px;
	padding: 70px 60px 100px 90px;
}

div#type {
	width: 148px;
	height: 28px;
	padding: 11px 0px 11px 140px;
}

div#type input {
	width: 148px;
	height: 28px;
	font-size: 16pt;
}

div#stat {
	width: 124px;
	height: 82px;
	padding-top: 18px;
	padding-left: 36px;
}

div.armor div#stat {
	width: 120px;
	height: 82px;
	padding-top: 27px;
	padding-left: 40px;
}

div.agon div#stat {
	width: 124px;
	height: 125px;
	padding-top: 24px;
	padding-left: 26px;
}

div#stat div {
	width: 120px;
	height: 16px;
	margin-bottom: 10px;
}

div.agon div#stat div {
	margin-bottom: 11px;
}

div#stat label span {
	width: 12px;
	height: 12px;
	margin: 0px 2px;
	border: 2px solid #000000;
	border-radius: 10px;
}

div#exp {
	width: 78px;
	height: 82px;
	padding: 18px 0px 0px 50px;
	z-index: 8;
}

div.agon div#exp {
	width: 20px;
	height: 20px;
	padding: 23px 0px 0px 65px;
	z-index: 8;
}

div#exp div#simboloSP {
	width: 20px;
	height: 20px;
}

div#exp div#simboloSP input[type=button] {
	position: absolute;
	display: none;
	width: 20px;
	height: 20px;
	border: none;
	background: none;
}

div#page.adv div#exp div#simboloSP input[type=button] {
	display: block;
}

div#exp div#simboloSP span {
	width: 20px;
	height: 20px;
}

div#armorstat {
	width: 148px;
	height: 52px;
	padding: 31px 0px 0px 120px;
}

div#armorstat div {
	width: 148px;
	height: 16px;
	margin-bottom: 10px;
}

div#armorstat label span {
	width: 12px;
	height: 12px;
	margin: 0px 2px;
	border: 2px solid #000000;
	border-radius: 10px;
}

div#tecniche {
	width: 288px;
	height: 578px;
	padding-top: 96px;
}

div.armor div#tecniche {
	height: 448px;
	padding-top: 82px;
}

div#tecniche div.tecnica {
	width: 288px;
	height: 60px;
}

div#tecniche div.tecnica:first-of-type {
	padding-bottom: 11px;
	z-index: 7;
}

div.armor div#tecniche div.tecnica:first-of-type {
	padding-bottom: 14px;
}

div#tecniche div.tecnica:nth-of-type(2) {
	padding-bottom: 15px;
	z-index: 6;
}

div.armor div#tecniche div.tecnica:nth-of-type(2) {
	padding-bottom: 18px;
}

div#tecniche div.tecnica:nth-of-type(3) {
	padding-bottom: 12px;
	z-index: 5;
}

div.armor div#tecniche div.tecnica:nth-of-type(3) {
	padding-bottom: 14px;
}

div#tecniche div.tecnica:nth-of-type(4) {
	padding-bottom: 12px;
	z-index: 4;
}

div.armor div#tecniche div.tecnica:nth-of-type(4) {
	padding-bottom: 14px;
}

div#tecniche div.tecnica:nth-of-type(5) {
	z-index: 3;
}

div.armor div#tecniche div.tecnica:nth-of-type(5) {
	padding-bottom: 16px;
}

div#tecniche div.tecnica:nth-of-type(7) {
	padding-bottom: 12px;
	z-index: 2;
}

div#tecniche div.tecnica input.nome {
	width: 288px;
	height: 28px;
	font-size: 16pt;
}

div#tecniche div.tecnica input.pa {
	height: 28px;
	font-size: 16pt;
}

div#tecniche div.tecnica input.bonus {
	height: 28px;
	font-size: 16pt;
}

div#page div.tecnica input[type=button] {
	position: absolute;
	display: none;
	width: 20px;
	height: 20px;
	padding-top: 8px;
	border: none;
	background: none;
}

div#page.adv div.tecnica input[type=button] {
	display: block;
}

div#tecniche div.tecnica div {
	width: 20px;
	height: 20px;
	padding-top: 8px;
}

div#tecniche div.tecnica div span {
	width: 20px;
	height: 20px;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
}

div#tecniche div.spacer {
	width: 288px;
	height: 84px;
}

div.agon div#tecniche div.spacer {
	width: 288px;
	height: 94px;
}

div#background {
	width: 318px;
	height: 594px;
	padding-top: 380px;
}

div#background div {
	width: 318px;
	height: 60px;
	color: #ffffff;
}

div#background div:first-of-type {
	width: 40px;
	height: 474px;
	padding-left: 278px;
}

div#background div.armor {
	width: 40px;
	height: 474px;
	padding-left: 0;
	padding-right: 278px;
}

div#background div img {
	cursor: pointer;
}

div#background div input {
	font-size: 10pt;
}

div#background div input[type=range] {
	width: 300px;
	padding: 0;
	margin: 0;
}