@font-face {
	font-family: 'Regular';
	src: url('font/DISTInking-Regular.otf');
}

@font-face {
	font-family: 'Rodeo';
	src: url('font/RODEK___.TTF');
}

body {
	background: #444;
}

#card-canvas {
	width: 10cm;
	height: 15cm;
	display: none;
}

#creator {
	display: initial;
}

#card {
	background-image: url('img/bg/large/Background_01.jpg');
	background-size: 100% 100%;
    position: relative;
    width: 756px;
	height: 1134px;
	border: 10px solid white;
	border-radius: 10px;
    margin: auto;
}

#variations {
	font-family: 'Regular';
	font-size: 25px;
}
#variations label {
	background: gray;
	padding: 10px;
	border-radius: 10px 10px 0 0;
}
#variations input:checked + label {
	background: white;
	color: black;
	text-shadow: 0 0 1px black;
}
#variations input {
	display: none;
}

#moniker-bg {
    position: absolute;
    left: 8px;
    top: 40px;
    width: 740px;
}

#moniker-canvas {
	position: absolute;
	top: 65px;
	width: 756px;
	pointer-events: none;
}

#moniker {
    position: absolute;
    top: 65px;
    width: 756px;
    background: none;
    color: transparent;
    font-family: 'Regular';
	font-size: 56px;
    text-align: center;
    display: block;
    padding: 0;
    border: none;
    outline: none;
    margin: auto;
}
#moniker:focus {
    color: white;
}

/* Infobox */

#infobox {
    position: absolute;
	width: 438px;
	height: 974px;
	bottom: 0;
	background-size: 100% 100%;
}
.char #infobox {
	background-image: url('img/Colonna.png');
	left: 0;
}
.armor #infobox {
	background-image: url('img/Armor.png');
	right: 0;
}
.agon #infobox {
	background-image: url('img/Agon.png');
	left: 0;
}

input[type='text'] {
	float: left;
	background: none;
	font-size: 22px;
	padding: 0;
	border: none;
	outline: none;
}

/* Type (Armor) */

#type {
	font-family: 'Regular';
	position: absolute;
	width: 224px;
	left: 154px;
	top: 85px;
}

/* Stats (Radio Buttons) */

#stat {
    position: absolute;
}
.char #stat {
	left: 126px;
	top: 113px;
}
.armor #stat {
	left: 130px;
	top: 141px;
}
.agon #stat {
	left: 116px;
	top: 89px;
}

.char #type,
.char #stat div:nth-last-child(2),
.char #stat div:last-child,
.char #armorstat,
.armor #stat div:nth-last-child(2),
.armor #stat div:last-child,
.agon #type,
.agon #armorstat {
	display: none;
}

#armorstat {
	position: absolute;
	left: 210px;
	top: 255px;
}

/* Moves/Abilities */

#moves {
	position: absolute;
	left: 90px;
}
.char #moves {
	top: 290px;
}
.armor #moves {
	top: 386px;
}
.agon #moves {
	top: 310px;
}

#moves > div {
	width: 288px;
	margin-top: 8px;
}
.char #moves > div {
	height: 64px;
}
.armor #moves > div {
	height: 67px;
}
.agon #moves > div {
	height: 66px;
}
.char #moves > div:nth-child(6),
.armor #moves > div:nth-child(7),
.armor #moves > div:last-child,
.agon #moves > div:nth-child(6) {
	visibility: hidden;
}

.name {
	font-family: 'Regular';
	width: 288px;
}

.pa {
	width: 52px;
	font-family: 'Rodeo';
}

.pa:after {
	content: 'PA';
}

.bonus {
	font-family: 'Rodeo';
}

/* * */

#card input[type='radio'] {
    display: none;
}

#card label {
	float: left;
    position: relative;
    display: block;
	padding: 5px 2px 6px 2px;
	cursor: pointer;
}
#card label:after {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	box-sizing: border-box;
    border: 2px solid black;
    border-radius: 50%;
}
#card label.click:after {
	background: black;
}
@media (pointer: fine) {
	#card label.over:after {
		box-shadow: inset 0 0 6px black;
	}
	#card .arr label.over:after {
		box-shadow: inset 0 0 6px white;
	}
	#card label.click.over:after {
		background: grey;
	}
}

#sp {
	background: black;
	position: absolute;
	width: 10%;
	height: 10%;
}

.option-label:after {
	content: attr(name);
	background-image: url('img/Nome.png');
	background-size: 100% 100%;
	font-family: Regular;
	font-size: 30px;
	color: white;
	padding: 20px 30px;
}
