@font-face {
	font-family: 'Regular';
	src: url('font/DISTInking-Regular.otf');
}

@font-face {
	font-family: 'Rodeo';
	src: url('font/RODEK___.TTF');
}

body {
	background: #444;
}

/*** LEFT SIDE ***/

#creator {
	float: left;
	padding: 10px;
}

/* Card Types */

#types {
	font-family: 'Regular';
	font-size: 25px;
}
#types label {
	background: gray;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
}
#types input:checked + label {
	background: white;
	color: black;
	text-shadow: 0 0 1px black;
}
#types input {
	display: none;
}

/* Card Preview */

#card {
    position: relative;
    width: 756px;
	height: 1134px;
	border: 10px solid white;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}

.bg-img {
	position: absolute;
	pointer-events: none;
}

#card-bg {
	width: 100%;
	height: 100%;
}

#moniker-bg {
    left: 8px;
    top: 40px;
    width: 740px;
}

#infobox-bg {
	background-size: 100% 100%;
	bottom: 0;
	width: 438px;
	height: 974px;
}
.char #infobox-bg {
	background-image: url('img/Colonna.png');
}
.armor #infobox-bg {
	background-image: url('img/Armor.png');
	right: 0;
}
.agon #infobox-bg {
	background-image: url('img/Agon.png');
}

input[type='text'] {
	float: left;
	background: none;
	font-size: 22px;
	padding: 0;
	border: none;
	outline: none;
}

#card input[type='radio'] {
    display: none;
}

#card label {
	float: left;
    position: relative;
    display: block;
	padding: 5px 2px 6px 2px;
	cursor: pointer;
}
#card label:after {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	box-sizing: border-box;
    border: 2px solid black;
    border-radius: 50%;
}
#card label.click:after {
	background: black;
}
@media (pointer: fine) {
	#card label.over:after {
		box-shadow: inset 0 0 6px black;
	}
	#card .arr label.over:after {
		box-shadow: inset 0 0 6px white;
	}
	#card label.click.over:after {
		background: grey;
	}
}

/* Art */

#artlayer {
	width: 100%;
	height: 100%;
	cursor: move;
}

#artlayer img {
	position: absolute;
}

/* Moniker */

#moniker {
    position: absolute;
    top: 65px;
    width: 756px;
    background: none;
    color: transparent;
    font-family: 'Regular';
	font-size: 56px;
    text-align: center;
    display: block;
    padding: 0;
    border: none;
    outline: none;
    margin: auto;
}
#moniker:focus {
    color: white;
}

#moniker-canvas {
	position: absolute;
	top: 65px;
	width: 756px;
	pointer-events: none;
}

/* Infobox */

#infobox {
    position: absolute;
	width: 288px;
}
.char #infobox {
	left: 90px;
	top: 273px;
}
.armor #infobox {
	right: 60px;
	top: 245px;
}
.agon #infobox {
	left: 90px;
	top: 249px;
}

/* Agon Type */

#type {
	font-family: 'Regular';
	position: absolute;
	left: 64px;
}
.char #type,
.agon #type {
	display: none;
}

/* Stat Radio Buttons */

#stat {
    position: absolute;
}
.char #stat {
	left: 36px;
}
.armor #stat {
	left: 40px;
	top: 56px;
}
.agon #stat {
	left: 26px;
}
.char #stat div:nth-last-child(2),
.char #stat div:last-child,
.armor #stat div:nth-last-child(2),
.armor #stat div:last-child {
	display: none;
}

#armorstat {
	position: absolute;
	left: 120px;
	top: 170px;
}
.char #armorstat,
.agon #armorstat {
	display: none;
}

/* Moves */

#moves {
	position: relative;
}
.char #moves {
	margin-top: 185px;
}
.armor #moves {
	margin-top: 309px;
}
.agon #moves {
	margin-top: 229px;
}

#moves > div {
	width: 288px;
	margin-bottom: 8px;
}
.char #moves > div {
	height: 64px;
}
.armor #moves > div {
	height: 67px;
}
.agon #moves > div {
	height: 66px;
}
.char #moves > div:nth-child(6),
.agon #moves > div:nth-child(6) {
	visibility: hidden;
}
.armor #moves > div:nth-child(7),
.armor #moves > div:last-child {
	display: none;
}

.name {
	font-family: 'Regular';
	width: 288px;
}

.pa {
	width: 52px;
	font-family: 'Rodeo';
}

.pa:after {
	content: 'PA';
}

.bonus {
	font-family: 'Rodeo';
}

/*** RIGHT SIDE ***/

#menu {
	vertical-align: top;
	display: inline-block;
	padding: 10px;
}

.option-label {
	background-image: url('img/Nome.png');
	background-size: 100% 100%;
	font-family: Regular;
	font-size: 30px;
	color: white;
	padding: 20px 30px;
	width: max-content;
}

.jscolor {
	width: 7em;
	font-size: 16px;
	padding: 5px;
	border: 1px solid #444;
	border-radius: 5px;
	outline: none;
}
.jscolor:disabled {
	color: gray !important;
	border-style: dashed;
	pointer-events: none;
}

/* Image */

/* Export */



/*** Hidden ***/

#card-canvas {
	width: 10cm;
	height: 15cm;
	display: none;
}
