@font-face {
	font-family: Regular;
	src: url("../font/DISTInking-Regular.otf");
}

@font-face {
	font-family: Simboli;
	src: url("../font/Musha_Shugyo_Symbols.ttf");
}

@font-face {
	font-family: Rodeo;
	src: url("../font/RODEK___.TTF");
}

div {
	position: relative;
	float: left;
	z-index: 1;
}

div#page {
	float: none;
	width: 1299px;
	height: 1785px;
	margin: auto;
	background-image: url("../img/bg/image/Background_11.jpg");
	background-size: 100% 100%;
}

div#nome {
	width: 1244px;
	height: 130px;
	padding-top: 100px;
	padding-left: 55px;
}

div#nome svg {
	display: none;
}

div#nome input {
	display: block;
	width: 1150px;
	height: 130px;
	font-family: "Regular";
	font-size: 80pt;
	background: none;
	border: none;
	text-align: center;
	/*color: #fe6307;*/
	background: -webkit-linear-gradient(#ffc81a 30%, #fe6307);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

div#content {
	width: 1299px;
	height: 1555px;
}

div#content > img {
	position: absolute;
	right: 0;
	height: 1555px;
	z-index: 0;
}

div#info {
	width: 499px;
	height: 1375px;
	padding-top: 180px;
	padding-left: 100px;
	padding-right: 100px;
	background-image: url("../img/Colonna.png");
}

div#stat {
	width: 180px;
	height: 126px;
	padding-top: 5px;
	padding-left: 110px;
}

div#stat div {
	width: 180px;
	height: 30px;
	margin-bottom: 12px;
}

div#stat label input[type=checkbox] {
	display: none;
}

div#stat label span {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin: 5px 2px;
	border: 1px solid #000000;
	border-radius: 10px;
}

div#stat label input:checked + span {
	background: #000000;
}

div#exp {
	width: 125px;
	height: 126px;
	padding-top: 5px;
	padding-left: 84px;
}

div#exp img {
	margin-top: 10px;
	opacity: .5;
	cursor: pointer;
}

div#exp img.selected {
	width: 50px;
	height: 50px;
	margin-top: -5px;
	vertical-align: middle;
	opacity: 1;
}

div#exp img.unselected {
	width: 10px;
	height: 10px;
}

div#tecniche {
	width: 459px;
	height: 575px;
	padding-top: 145px;
	padding-left: 40px;
}

div#tecniche div.tecnica {
	width: 459px;
	height: 100px;
	margin-top: 15px;
}

div#tecniche div.tecnica:first-of-type {
	z-index: 7;
}

div#tecniche div.tecnica:nth-of-type(2) {
	z-index: 6;
}

div#tecniche div.tecnica:nth-of-type(3) {
	z-index: 5;
}

div#tecniche div.tecnica:nth-of-type(4) {
	z-index: 4;
}

div#tecniche div.tecnica:nth-of-type(5) {
	z-index: 3;
}

div#tecniche div.tecnica:nth-of-type(7) {
	z-index: 2;
}

div#tecniche div.tecnica input.nome {
	width: 459px;
	height: 45px;
	font-family: "Regular";
	font-size: 30pt;
	background: none;
	border: none;
}

div#tecniche div.tecnica input.pa {
	display: block;
	float: left;
	height: 45px;
	font-family: "Rodeo";
	font-size: 30pt;
	background: none;
	border: none;
}

div#tecniche div.tecnica input.bonus {
	display: block;
	float: left;
	height: 45px;
	color: #ff0000;
	font-family: "Rodeo";
	font-size: 25pt;
	background: none;
	border: none;
	overflow: visible;
}

div#tecniche div.tecnica div {
	width: 30px;
	height: 30px;
	padding-top: 10px;
	color: #ff0000;
	font-family: "Simboli";
	font-size: 30pt;
	text-align: center;
	overflow: hidden;
	display: none;
}

div#tecniche div.tecnica div:first-of-type {
	display: block;
}

div#tecniche div.tecnica div span:first-of-type {
	background: none;
}

div#tecniche div.tecnica div span {
	display: block;
	width: 30px;
	height: 30px;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
}

div#tecniche div.spacer {
	width: 459px;
	height: 120px;
}

div#background {
	width: 600px;
	height: 1555px;
}

div#background div#bgImage {
	width: 500px;
	height: 55px;
	padding-top: 1500px;
}

div#background div#bgImage input {
	font-size: 30pt;
}

div#background div#bgColor {
	width: 100px;
	height: 1055px;
	padding-top: 500px;
}

div#background div#bgColor img {
	cursor: pointer;
}

@media print {
	div#nome svg {
		display: block;
	}

	div#nome input {
		display: none;
	}

	div#background {
		visibility: hidden;
	}

	div#exp img.unselected {
		display: none;
	}

	input.empty {
		visibility: hidden;
	}
}